.container {
  height: 100%;
  height: calc(100% - 72px);
  display: flex;
  border: solid #ddd;
  border-width: 1px 1px 0 0;
  flex-flow: row;
}

.pane {
  align-items: stretch;
  flex: 1 0;
  overflow: auto;
  border: solid #ddd;
  border-width: 0 0 1px 1px;
}

.vertical {
  flex-flow: column;
  flex: 1;
  display: flex;
}

.header {
  margin: 0.25em;
  font-size: 1.5em;
  font-weight: lighter;

  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rendered {
  padding: 5px;
}

.editor {
  flex: 1;
}

.impls {
  padding: 0 1em;
  font-size: 13px;
  overflow-y: auto;
}

.impl {
  margin: 5px 0;
}

.impl ul {
  margin-top: 5px;
}

.code-element {
  font-size: 110%;
}

.shorthand {
  text-decoration: underline;
}
