{{docs-hero}}

<p>
  Build custom UIs with a declarative JSON syntax, implemented with Ember
  components.
</p>

<code>
  <pre>
    // environment
    {
      "greeting": "Hello, ",
      "name": "CHANGE ME"
    }
    // interface
    {
      "$vbox": [
        {
          "$hbox": [
            { "$text": "Your name: " },
            {
              "$input": { "$bind": "name" }
            }
          ]
        },
        {
          "$text": {
            "$join": [
              { "$bind": "greeting" },
              { "$bind": "name" }
            ]
          }
        }
      ]
    }
  </pre>
</code>

<div class="docs-bg-brand">
  <h2>Ready to learn more?</h2>
  <p>
    {{#link-to 'docs'}}Read the docs{{/link-to}}
  </p>
</div>
