<table>
  {{#if @config.header}}
    <thead>
      <tr>
        {{#each @config.header as |row|}}
          <th>{{yield row}}</th>
        {{/each}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each this.items as |env|}}
      <tr>
        {{#each @config.row as |cell|}}
          <td>{{yield cell env}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
